# Ignore everything
*

# Include files
!.dockerignore
!.editorconfig
!.gitignore
!.prettier-rc.yml
!Dockerfile
!LICENSE
!Makefile
!README.md

# Include directories
!.github/
!.github/workflows/
!.github/workflows/*.yml

!.vscode/
!.vscode/extensions.json
!.vscode/settings.json

!results/
!results/*.txt

!go/
!go/*/
!go/*/*.go
!go/*/go.mod
!go/*/go.sum

!python/
!python/*/
!python/*/benchweb/
!python/*/benchweb/*.py
!python/*/pdm.lock
!python/*/pyproject.toml

!rust/
!rust/*/
!rust/*/src/
!rust/*/src/*.rs
!rust/*/Cargo.lock
!rust/*/Cargo.toml
